.DS_Store
*~
*.o
*.lo
libluogu3.la
luogu3c
luogu3c.exe
luogu3-lang-*
/test/
/.vscode/
/.cache/
/compile_commands.json
autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/ar-lib
/libtool
/ltmain.sh
/m4/
Makefile
Makefile.in
.deps/
.libs/
.dirstamp
